<div class="container" style="min-height:500px">
    <h3>
        Jeśli posiadasz u nas kont, wysłaliśmy wiadomość e-mail z
        instrukcjmi jak zresetować hasło.

        <a>@ViewBag.Link</a>
    </h3>
</div>