@model ForgotPasswordViewModel

    <div class="container" style="min-height:500px">
        <h1>Przypomnij hasło</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Potwierdź</button>
                </form>
            </div>
        </div>
    </div>
