@model HotelManagerSystemv2.Areas.Admin.ViewModel.ResetPasswordViewModel

    <div class="container" style="min-height:500px">
        
    <h1>Podaj nowe hasło</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Zresetuj</button>
                </form>
            </div>
        </div>

    </div>
