@model HotelManagerSystemv2.Areas.Admin.Models.Room

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Napewno usunąć pokój?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoomId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
