@model HotelManagerSystemv2.Areas.Admin.ViewModel.RoomViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>

<h4>Pokój</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nr. pokoju</label>
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Zdjęcie</label>
                <div class="custom-file">
                    <input class="form-control custom-file-input" asp-for="RoomImage" onchange="DisplayImage(this)" />
                    <label class="custom-file-label">Wybierz plik...</label>
                </div>
                <span asp-validation-for="RoomImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cena / za noc</label>
                <input asp-for="Room.RoomPrice" class="form-control" />
                <span asp-validation-for="Room.RoomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Max. ilość osób</label>
                <input asp-for="Room.RoomCapacity" class="form-control" />
                <span asp-validation-for="Room.RoomCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Opis</label>
                <input asp-for="Room.RoomDescription" class="form-control" />
                <span asp-validation-for="Room.RoomDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Standard pokoju</label>
                @Html.DropDownListFor(m => m.Room.RoomTypeId, new SelectList(Model.RoomTypes, "Id", "RoomTypeName"), "Wybierz standard pokoju", new { @class = "form-control" })
                <span asp-validation-for="Room.RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status pokoju</label>
                @Html.DropDownListFor(m => m.Room.RoomStatusId, new SelectList(Model.RoomStatuses, "Id", "RoomStatusName"), "Wybierz status pokoju", new { @class = "form-control" })
                <span asp-validation-for="Room.RoomStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zachowaj zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img id="imgRoom" src="~/Images/@Model.Room.RoomImage" width="400" height="300" asp-append-version="true" />
    </div>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function DisplayImage(result) {
            if (result.files && result.files[0]) {
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    $("#imgRoom").attr('src', e.target.result);
                }
                fileReader.readAsDataURL(result.files[0]);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
