<div class="container" style="min-height:500px">
    
    <h3>
        Hasło zostało zmienione
    </h3>
    <a asp-controller="Administration" asp-action="ListUsers">Powrót do listy użytkowników</a>

</div>