@model IEnumerable<HotelManagerSystemv2.Areas.Admin.Models.Room>

<div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="~/Images/@item.RoomImage" class="card-img-top" height="225">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.RoomType.RoomTypeName) </h5>
                                <h4 class="card-subtitle"> @Html.DisplayFor(modelItem => item.RoomPrice) /za noc</h4>
                                <h6 class="small">Cena nie zawiera dodatkowego wyżywienia</h6>
                                <p class="card-text">Max. ilość osób: @Html.DisplayFor(modelItem => item.RoomCapacity)</p>

                                <div class="d-flex justify-content-between align-items-center">

                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.RoomId">Szczegóły</a>



                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
