
<div class="container" style="min-height:500px">
    <div class="text-center">
        <h1 class="display-4">Sukces!!!</h1>
        <h3>Twoja rezerwacja została złożona</h3>
        <p>Sprawdź swoją poczatę e-mail, aby dowiedzieć się jak potwierdzić rezerwację</p>
    </div>
</div>