<!-- placeholder div -->
<div id="dp"></div>

<!-- DayPilot library -->
<script src="~/js/daypilot-all.min.js"></script>

<!-- Scheduler initialization -->
<script>
    var dp = new DayPilot.Scheduler("dp");
    dp.startDate = DayPilot.Date.today().firstDayOfMonth();
    dp.days = DayPilot.Date.today().daysInMonth();
    dp.scale = "Day";
    dp.timeHeaders = [
        {groupBy: "Month"},
        {groupBy: "Day", format: "d"}
    ];
    dp.init();

</script>