@model HotelManagerSystemv2.Areas.Employee.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy napewno usunąć rezerwację?</h3>
<div>    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do grafiku</a>
    </form>
</div>
