<div class="text-center">
    <h1 class="display-4">Sukces!!!</h1>
    <h3>Rezerwacja została założona</h3>
    <p>Na poczatę e-mail klienta, została wysłana wiadomość z dalszymi instrukcjami</p>

    <a asp-action="Index">Powrót do strony głównej</a>

</div>