@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - HotelSystemManager</title>

    
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Recepcja</div>
            <div class="list-group list-group-flush">
                <a asp-area="Employee" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a asp-area="Employee" asp-controller="Bookings" asp-action="Index" class="list-group-item list-group-item-action bg-light">Rezerwacje</a>
                <a asp-area="Employee" asp-controller="Rooms" asp-action="Index" class="list-group-item list-group-item-action bg-light">Pokoje</a>
                <a asp-area="Employee" asp-controller="Restaurant" asp-action="Index" class="list-group-item list-group-item-action bg-light">Kuchnia</a>                
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark"> @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj się</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>
