@model HotelManagerSystemv2.Areas.Employee.Models.Payment

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Napewno chcesz usunąć płatność?</h3>
<div> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@ViewBag.Id">Powrót do listy</a>
    </form>
</div>
