@model HotelManagerSystemv2.Areas.Employee.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Płatność</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="BookingId" />
            <input type="hidden" asp-for="Date" value="@DateTime.Now" />
            <input type="hidden" asp-for="@Model.Booking.EmployeeId" />

            <div class="form-group">
                <input type="submit" value="Zachowaj zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.Id">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
